body{

    padding:0px;
    margin: 0px;
}
.fixo{
    position: fixed;
    top: 0;
    width: 100%;
}
.cor_fundo{
    background: red;
    height: 100%;
    width: 100%;
}
.div_cabecalho{
    position: absolute;
    width: 100%;
    height: 11VH;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.logo{
    height: 5vw;
    margin-left: 8vh;
}
.div_botoes{
    /* estabelecendo posição e tamanho dos potões */     
        position: absolute;
        width: 29VW;
        height: 11VH;
        margin-top: 0VW;
        margin-left: 67VW;
        background-color: black
}
.botao_home{
    position: absolute;
    margin-top: 5vh;
    margin-left: 1VW;
    font-size: 3vh;
    text-decoration: none;
    border-radius: 50px;
    color: white;
}
.botao_home:hover{
    position: absolute;
    margin-top: 5vh;
    margin-left: 1VW;
    font-size: 3vh;
    text-decoration: none;
    border-radius: 47px;
    color: white;
    background-color: blue;
    padding-left: 11px;
    padding-right: 11px;
}
.botao_academia{
    position: absolute;
    margin-top: 5vh;
    margin-left: 7VW;
    font-size: 3vh;
    text-decoration: none;
    color: white;
}
.botao_academia:hover{
    position: absolute;
    margin-top: 5vh;
    margin-left: 7VW;
    font-size: 3vh;
    text-decoration: none;
    border-radius: 47px;
    color: white;
    background-color: blue;
    padding-left: 11px;
    padding-right: 11px;
}

.botao_modalidade{
    position: absolute;
    margin-top: 3vh;
    margin-left: 15VW;
    font-size: 3vh;
    text-decoration: none;
    color: white;
}

.botao_contato{
    position: absolute;
    margin-top: 5vh;
    margin-left: 24VW;
    font-size: 3vh;
    text-decoration: none;
    color: white;
}
.botao_contato:hover{
    position: absolute;
    margin-top: 5vh;
    margin-left: 24VW;
    font-size: 3vh;
    text-decoration: none;
    border-radius: 47px;
    color: white;
    background-color: blue;
    padding-left: 11px;
    padding-right: 11px;
}

.div_do_meio{
    position: absolute;
    width: 100%;
    height: 86%;
}
.div_home_class{
    position: relative;
    position: relative;
    margin-top: 16vh;
    width: 100%;
    height: 78%;
}
.imagem_home{
    margin-left: 25%;
    margin-top: 4%;
}

/************************************************************/

.academia_class{
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11vh;
    width: 8%;
    margin-left: 50%;
    
}
.div_academia{
    text-align: justify;
    font-family: tahoma;
    font-size: 2VW;
    width: 88VW;
    margin-left: 6VW;
}
.div_academia p{
    margin: 0 20px;
    line-height: 33px;
    text-align: justify;
    text-indent: 3em;
    font-size: 27px;
    margin-bottom: 10px;
}

/************************************************************/

.valores_class{
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11vh;
    width: 7%;
    margin-left: 50%;
}
.div_valores{
    margin-top: 0%;
    width: 100%;
    height: 17%;
    margin-left: 0%;
}

.imagem_valores{
    margin-left: 26%;
    width: 53%;
    margin-top: 4%;
    
}


.div_jiujitsu{
text-align: justify;
font-family: tahoma;
font-size: 1.5VW;
width: 70VW;
margin-left: 15VW;
}
.div_jiujitsu p{
    margin: 0 20px;
    line-height: 43px;
    text-align: justify;
    text-indent: 2em;
    font-size: 27px;
    margin-bottom: 10px;
}
.jiujitsu_class{
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11vh;
    width: 8%;
    margin-left: 50%;
}


.muaythai_class{
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11vh;
    width: 9%;
    margin-left: 50%;
}
.div_muaythai{
text-align: justify;
font-family: tahoma;
font-size: 1.5VW;
width: 70VW;
margin-left: 15VW;
}
.div_muaythai p{
    margin: 0 20px;
    line-height: 43px;
    text-align: justify;
    text-indent: 2em;
    font-size: 27px;
    margin-bottom: 10px;
}


.boxe_class{
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11vh;
    width: 9%;
    margin-left: 50%;
}
.div_boxe{
    text-align: justify;
    font-family: tahoma;
    font-size: 2VW;
    width: 85VW;
    margin-left: 7VW;
    height: 101%;
}
.div_boxe p{
    margin: 0 20px;
    line-height: 43px;
    text-align: justify;
    text-indent: 2em;
    font-size: 27px;
    margin-bottom: 10px;
}
/************************************************************/

.rodape_class{
    background: black;
    height: 92%;
    margin-top: 44%;
}

.logo_rodape{
    width: 18vw;
    margin: 10px 10px 0px 30px;
}
.rodape_left{
    
    text-align: left;
    margin-right: 50%;
    ;
}
.txt_left{
    color: rgb(255, 255, 255);
    text-align: justify;
    text-indent: 3em;
    line-height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 20vw;
    font-size: 15px;
}

.rodape_right{
    text-align: right;
    margin-left: 50%;
    margin-top: -69vh;
}
.rodape_endereco{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.txt_right{
    color: rgb(255, 255, 255);
    text-align: justify;
    text-indent: 3em;
    line-height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 126px;
    margin-bottom: 10px;
    width: 20vw;
    font-size: 15px;
    margin-top: 24%;
}






/************************************************************/

.horas{
    margin-top: 5%;
    margin-left: 40%;
}
.linha_valores{
    border-bottom: 2px solid black;
    margin-top: 8%;
}